body {
    padding-top: 70px; /* Espaço para navbar fixa */
    background-color: #111827; /* fundo suave */
}

/* Navbar */
.navbar {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Botão criar */
#create {
    min-width: 160px;
}

/* Tabela estilizada */
table {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 6px;
}

th {
    background-color: #007bff;
    color: white;
    text-align: center;
}

<<<<<<< HEAD
=======
 .custom-dropdown {
     background-color: #1f2937; /* Fundo escuro */
     border: 1px solid #374151;
     border-radius: 8px;
     padding: 0.5rem 0;
     min-width: 220px;
 }

.custom-dropdown .dropdown-item {
    color: #e5e7eb;
    padding: 0.6rem 1.2rem;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    transition: background-color 0.3s ease;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #374151;
    color: #ffffff;
}

.custom-dropdown .dropdown-divider {
    border-color: #4b5563;
    margin: 0.4rem 0;
}

.custom-dropdown i {
    width: 18px;
    text-align: center;
    color: #9ca3af;
}



>>>>>>> c0af6527fa296ac171a74ac582a10fd37a463b03
td {
    vertical-align: middle !important;
    text-align: center;
}

/* Botões da tabela */
.btn-sm {
    min-width: 70px;
}

/* Hover linhas da tabela */
tbody tr:hover {
    background-color: #e9f5ff;
}

h2{
    color: #ffffff;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: bold;
}

.alumni-sans-pinstripe-regular {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mt-4 {
    border-radius: 10px;
}

.btn-warning {
    background-color: #EBDF78;
    color: #ffffff;
    border: 0;
}
.btn-warning:hover {
    background-color: #C4BB64;
    color: #ffffff;
}

.btn-info {
    background-color: #007bff;
    border: 0;
}
.btn-info:hover {
    background-color: #0055B0;
<<<<<<< HEAD
}
=======
}
.custom-navbar {
    background-color: #111827;
    color: #fff;
}

.btn-custom-dark {
    border: 1px solid #007bff;
    background-color: #007bff;
    transition: all 0.3s ease;
    color: #ffffff;
}

.btn-custom-dark:hover {
    background-color: #60aaff;
    color: #ffffff;
}


>>>>>>> c0af6527fa296ac171a74ac582a10fd37a463b03
